version: '3.8'

services:
  # Nginx как единая точка входа
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    networks:
      - app-network
    depends_on:
      - user-service
      - offer-service
      - rental-cmd-service

  # User Service (Auth & Profile)
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - SERVER_PORT=${USER_SERVICE_PORT}
    networks:
      - app-network


  # Offer & Pricing Service
  offer-service:
    build:
      context: ./offer-pricing-service/
      dockerfile: Dockerfile
    container_name: offer-service
    environment:
      - DB_MASTER_HOST=offer-citus-coordinator
      - DB_REPLICA_HOST=offer-citus-coordinator
      - USER_SERVICE_URL=http://user-service:${USER_SERVICE_PORT}
      - SERVER_PORT=${OFFER_SERVICE_PORT}
    depends_on:
      - offer-citus-coordinator
    networks:
      - app-network

  offer-citus-coordinator:
    image: citusdata/citus:11.2
    container_name: offer-citus-coordinator
    platform: linux/amd64
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    volumes:
      - offer_citus_coordinator_data:/var/lib/postgresql/data
      - ./citus/offer-citus-init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./citus/pg_hba.conf:/etc/postgresql/pg_hba.conf
    networks:
      - offer-citus-cluster
      - app-network
    depends_on:
      - offer-citus-worker-1
      - offer-citus-worker-2

  offer-citus-worker-1:
    image: citusdata/citus:11.2
    container_name: offer-citus-worker-1
    platform: linux/amd64
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - offer_citus_worker1_data:/var/lib/postgresql/data
      - ./citus/pg_hba.conf:/etc/postgresql/pg_hba.conf
    networks:
      - offer-citus-cluster
      - app-network

  offer-citus-worker-2:
    image: citusdata/citus:11.2
    container_name: offer-citus-worker-2
    platform: linux/amd64
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - offer_citus_worker2_data:/var/lib/postgresql/data
      - ./citus/pg_hba.conf:/etc/postgresql/pg_hba.conf
    networks:
      - offer-citus-cluster
      - app-network

  # Rental Command Service
  rental-cmd-service:
    build:
      context: ./rental-command-service
      dockerfile: Dockerfile
    container_name: rental-cmd-service
    environment:
      - DB_MASTER_HOST=rental-citus-coordinator
      - DB_REPLICA_HOST=rental-citus-coordinator
      - OFFER_SERVICE_URL=http://offer-service:${OFFER_SERVICE_PORT}
      - SERVER_PORT=${RENTAL_CMD_SERVICE_PORT}
    depends_on:
      - rental-citus-coordinator
    networks:
      - app-network

  # Citus Cluster для Rental Command Service
  rental-citus-coordinator:
    image: citusdata/citus:11.2
    container_name: rental-citus-coordinator
    platform: linux/amd64
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - rental_citus_coordinator_data:/var/lib/postgresql/data
      - ./citus/rental-citus-init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./citus/pg_hba.conf:/etc/postgresql/pg_hba.conf
    networks:
      - rental-citus-cluster
      - app-network
    depends_on:
      - rental-citus-worker-1
      - rental-citus-worker-2

  rental-citus-worker-1:
    image: citusdata/citus:11.2
    container_name: rental-citus-worker-1
    platform: linux/amd64
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - rental_citus_worker1_data:/var/lib/postgresql/data
      - ./citus/pg_hba.conf:/etc/postgresql/pg_hba.conf
    networks:
      - rental-citus-cluster
      - app-network

  rental-citus-worker-2:
    image: citusdata/citus:11.2
    container_name: rental-citus-worker-2
    platform: linux/amd64
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - rental_citus_worker2_data:/var/lib/postgresql/data
      - ./citus/pg_hba.conf:/etc/postgresql/pg_hba.conf
    networks:
      - rental-citus-cluster
      - app-network


  # Rental Query Service

  # Вспомогательные сервисы

  # Config

  # Tariff

  # Redis шард 0

  # Redis шард 1

  # Мониторинг

volumes:
  nginx:
  offer_citus_coordinator_data:
  offer_citus_worker1_data:
  offer_citus_worker2_data:
  rental_citus_coordinator_data:
  rental_citus_worker1_data:
  rental_citus_worker2_data:

networks:
  offer-citus-cluster:
    driver: bridge
  rental-citus-cluster:
    driver: bridge
  app-network:
    driver: bridge

