version: '3.8'

services:
  # Nginx как единая точка входа
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - user-service
      - offer-service
      - rental-cmd-service

  dwh-postgres:
    image: postgres:15
    container_name: dwh-postgres
    environment:
      POSTGRES_DB: dwh
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: adminpass
    volumes:
      - ./dwh/sql/init_db:/docker-entrypoint-initdb.d
      - dwh_data:/var/lib/postgresql/data
    

  airflow-postgres:
    image: postgres:15
    container_name: airflow-postgres
    environment:
      POSTGRES_DB: airflow
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
    volumes:
      - airflow_data:/var/lib/postgresql/data
    

  airflow-webserver:
    image: apache/airflow:2.7.1
    container_name: airflow-webserver
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__WEBSERVER__SECRET_KEY: a3f1c9d7b2e44f3d8f9c8b1d5e9a1234567890abcdef1234567890abcdef
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres:5432/airflow
      AIRFLOW_CONN_DWH_POSTGRES: postgres://postgres:postgres@dwh-postgres:5432/dwh
      AIRFLOW_CONN_OFFER_SERVICE_SHARD_0: postgres://postgres:postgres@offer-db-shard0-master:5432/offer
      AIRFLOW_CONN_OFFER_SERVICE_SHARD_1: postgres://postgres:postgres@offer-db-shard1-master:5432/offer
      AIRFLOW_CONN_RENTAL_SERVICE_SHARD_0: postgres://postgres:postgres@rental-db-shard0-master:5432/rental
      AIRFLOW_CONN_RENTAL_SERVICE_SHARD_1: postgres://postgres:postgres@rental-db-shard1-master:5432/rental
    volumes:
      - ./dags:/opt/airflow/dags
      - ./plugins:/opt/airflow/plugins
    ports:
      - "8080:8080"
    depends_on:
      - dwh-postgres
      - airflow-postgres
      - offer-db-shard0-master
      - offer-db-shard1-master
      - rental-db-shard0-master
      - rental-db-shard1-master
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.7.1
    container_name: airflow-scheduler
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__WEBSERVER__SECRET_KEY: a3f1c9d7b2e44f3d8f9c8b1d5e9a1234567890abcdef1234567890abcdef
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres:5432/airflow
    volumes:
      - ./dags:/opt/airflow/dags
      - ./plugins:/opt/airflow/plugins
    depends_on:
      - airflow-webserver
      - dwh-postgres
      - airflow-postgres
      - offer-db-shard0-master
      - offer-db-shard1-master
      - rental-db-shard0-master
      - rental-db-shard1-master
    command: scheduler

  airflow-init:
    image: apache/airflow:2.7.1
    container_name: airflow-init
    depends_on:
      - airflow-postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres:5432/airflow
      AIRFLOW__WEBSERVER__SECRET_KEY: a3f1c9d7b2e44f3d8f9c8b1d5e9a1234567890abcdef1234567890abcdef
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create
        --username admin 
        --firstname Admin 
        --lastname User 
        --role Admin 
        --email admin@example.com 
        --password admin
      "

    

  # User Service (Auth & Profile)
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    environment:
     # - DB_MASTER_HOST=user-db-master
     # - DB_REPLICA_HOST=user-db-replica
     # - DB_PORT=5432
     # - DB_NAME=${USER_DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - SERVER_PORT=${USER_SERVICE_PORT}


  # Offer & Pricing Service
  offer-service:
    build:
      context: ./offer-pricing-service/
      dockerfile: Dockerfile
    container_name: offer-service
    environment:
      - DB_MASTER_HOST=offer-shard0-db-master
      - DB_REPLICA_HOST=offer-db-replica
      - CONFIG_SERVICE_URL=http://config-service:${CONFIG_SERVICE_PORT}
      - TARIFF_SERVICE_URL=http://tariff-service:${TARIFF_SERVICE_PORT}
      - USER_SERVICE_URL=http://user-service:${USER_SERVICE_PORT}
      - REDIS_SHARD0_URL=redis://:${REDIS_PASSWORD}@redis-shard0-master:6379
      - REDIS_SHARD1_URL=redis://:${REDIS_PASSWORD}@redis-shard1-master:6379
      - SERVER_PORT=${OFFER_SERVICE_PORT}
    depends_on:
      - offer-db-shard0-master
      - offer-db-replica

  offer-db-shard0-master:
    image: postgres:14
    container_name: offer-db-shard0-master
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - offer_db_master_data:/var/lib/postgresql/data

  offer-db-shard1-master:
    image: postgres:14
    container_name: offer-db-shard1-master
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5444:5432"
    volumes:
      - offer_db_shard1_master_data:/var/lib/postgresql/data

  offer-db-replica:
    image: postgres:14
    container_name: offer-db-replica
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command: >
      postgres
      -c hot_standby=on
      -c "primary_conninfo=host=offer-db-shard0-master port=5432 user=${POSTGRES_REPLICA_USER} password=${POSTGRES_REPLICA_PASSWORD}"
    ports:
      - "5433:5432"
    depends_on:
      - offer-db-shard0-master
    volumes:
      - offer_db_replica_data:/var/lib/postgresql/data

  offer-db-replica2:
    image: postgres:14
    container_name: offer-db-replica2
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command: >
      postgres
      -c hot_standby=on
      -c "primary_conninfo=host=offer-db-shard1-master port=5432 user=${POSTGRES_REPLICA_USER} password=${POSTGRES_REPLICA_PASSWORD}"
    ports:
      - "5553:5432"
    depends_on:
      - offer-db-shard1-master
    volumes:
      - offer_db_replica2_data:/var/lib/postgresql/data

  # Rental Command Service
  rental-cmd-service:
    build:
      context: ./rental-command-service
      dockerfile: Dockerfile
    container_name: rental-cmd-service
    environment:
      - DB_MASTER_HOST=rental-db-shard0-master
      - DB_REPLICA_HOST=rental-cmd-db-replica
      - STATIONS_SERVICE_URL=http://stations-adapter:${STATIONS_ADAPTER_PORT}
      - PAYMENTS_SERVICE_URL=http://payments-adapter:${PAYMENTS_ADAPTER_PORT}
      - OFFER_SERVICE_URL=http://offer-service:${OFFER_SERVICE_PORT}
      - SERVER_PORT=${RENTAL_CMD_SERVICE_PORT}
    depends_on:
      - rental-db-shard0-master
      - rental-cmd-db-replica

  rental-db-shard0-master:
    image: postgres:14
    container_name: rental-db-shard0-master
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5532:5432"
    volumes:
      - rental_cmd_master_data:/var/lib/postgresql/data

  rental-db-shard1-master:
    image: postgres:14
    container_name: rental-db-shard1-master
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5555:5432"
    volumes:
      - rental_shard1_master_data:/var/lib/postgresql/data

  rental-cmd-db-replica:
    image: postgres:14
    container_name: rental-cmd-db-replica
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command: >
      postgres
      -c hot_standby=on
      -c "primary_conninfo=host=rental-db-shard0-master port=5432 user=${POSTGRES_REPLICA_USER} password=${POSTGRES_REPLICA_PASSWORD}"
    depends_on:
      - rental-db-shard0-master
    ports:
      - "5533:5432"
    volumes:
      - rental_cmd_replica_data:/var/lib/postgresql/data

  rental-db-replica2:
    image: postgres:14
    container_name: rental-db-replica2
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command: >
      postgres
      -c hot_standby=on
      -c "primary_conninfo=host=rental-db-shard1-master port=5432 user=${POSTGRES_REPLICA_USER} password=${POSTGRES_REPLICA_PASSWORD}"
    depends_on:
      - rental-db-shard1-master
    ports:
      - "5333:5432"
    volumes:
      - rental_replica2_data:/var/lib/postgresql/data

  # Rental Query Service

  # Вспомогательные сервисы

  # Config

  # Tariff

  # Redis шард 0

  # Redis шард 1

  # Мониторинг

volumes:
  nginx:
  offer_db_master_data:
  offer_db_replica_data:
  rental_cmd_master_data:
  rental_cmd_replica_data:
  rental_shard1_master_data:
  offer_db_shard1_master_data:
  rental_replica2_data:
  offer_db_replica2_data:
  dwh_data:
  airflow_data:

