version: '3.8'

services:
  # Nginx как единая точка входа
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - user-service
      - offer-service
      - rental-cmd-service

  # User Service (Auth & Profile)
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    environment:
     # - DB_MASTER_HOST=user-db-master
     # - DB_REPLICA_HOST=user-db-replica
     # - DB_PORT=5432
     # - DB_NAME=${USER_DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
     # - SERVER_PORT=${USER_SERVICE_PORT}



  # Offer & Pricing Service
  offer-service:
    build:
      context: ./offer-pricing-service/
      dockerfile: Dockerfile
    container_name: offer-service
    environment:
      - DB_MASTER_HOST=offer-db-master
      - DB_REPLICA_HOST=offer-db-replica
      - CONFIG_SERVICE_URL=http://config-service:${CONFIG_SERVICE_PORT}
      - TARIFF_SERVICE_URL=http://tariff-service:${TARIFF_SERVICE_PORT}
      - USER_SERVICE_URL=http://user-service:${USER_SERVICE_PORT}
      - REDIS_SHARD0_URL=redis://:${REDIS_PASSWORD}@redis-shard0-master:6379
      - REDIS_SHARD1_URL=redis://:${REDIS_PASSWORD}@redis-shard1-master:6379
      - SERVER_PORT=${OFFER_SERVICE_PORT}
    depends_on:
      - offer-db-master
      - offer-db-replica

  offer-db-master:
    image: postgres:14
    container_name: offer-db-master
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - offer_db_master_data:/var/lib/postgresql/data

  offer-db-replica:
    image: postgres:14
    container_name: offer-db-replica
    environment:
      - POSTGRES_DB=${OFFER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command: |
      postgres
      -c hot_standby=on
      -c primary_conninfo=host=offer-db-master port=5432 user=${POSTGRES_REPLICA_USER} password=${POSTGRES_REPLICA_PASSWORD}
    ports:
      - "5433:5432"
    depends_on:
      - offer-db-master
    volumes:
      - offer_db_replica_data:/var/lib/postgresql/data

  # Rental Command Service
  rental-cmd-service:
    build:
      context: ./rental-command-service
      dockerfile: Dockerfile
    container_name: rental-cmd-service
    environment:
      - DB_MASTER_HOST=rental-cmd-db-master
      - DB_REPLICA_HOST=rental-cmd-db-replica
      - STATIONS_SERVICE_URL=http://stations-adapter:${STATIONS_ADAPTER_PORT}
      - PAYMENTS_SERVICE_URL=http://payments-adapter:${PAYMENTS_ADAPTER_PORT}
      - OFFER_SERVICE_URL=http://offer-service:${OFFER_SERVICE_PORT}
      - SERVER_PORT=${RENTAL_CMD_SERVICE_PORT}
    depends_on:
      - rental-cmd-db-master
      - rental-cmd-db-replica

  rental-cmd-db-master:
    image: postgres:14
    container_name: rental-cmd-db-master
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5532:5432"
    volumes:
      - rental_cmd_master_data:/var/lib/postgresql/data

  rental-cmd-db-replica:
    image: postgres:14
    container_name: rental-cmd-db-replica
    environment:
      - POSTGRES_DB=${RENTAL_CMD_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    command: |
      postgres
      -c hot_standby=on
      -c primary_conninfo=host=rental-cmd-db-master port=5432 user=${POSTGRES_REPLICA_USER} password=${POSTGRES_REPLICA_PASSWORD}
    depends_on:
      - rental-cmd-db-master
    ports:
      - "5533:5432"
    volumes:
      - rental_cmd_replica_data:/var/lib/postgresql/data

  # Rental Query Service

  # Вспомогательные сервисы

  # Config

  # Tariff

  # Redis шард 0

  # Redis шард 1

  # Мониторинг

volumes:
  nginx:
  offer_db_master_data:
  offer_db_replica_data:
  rental_cmd_master_data:
  rental_cmd_replica_data:

